<a href="https://colab.research.google.com/github/katerynal-commits/Python-for-Data-Analytics_Home-Tasks/blob/main/HW1_%D0%97%D0%BC%D1%96%D0%BD%D0%BD%D1%96_%D1%82%D0%B0_%D0%BE%D1%81%D0%BD%D0%BE%D0%B2%D0%BD%D1%96_%D1%82%D0%B8%D0%BF%D0%B8_%D0%B4%D0%B0%D0%BD%D0%B8%D1%85_%D0%B2_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## HW1. Змінні та основні типи даних в Python

**1. Створення змінних**

Створіть змінні для особистої інформації (кожен пункт оцінюється в 0.5 бала):
- `name` - ваше ім'я (рядок)
- `age` - ваш вік (ціле число)
- `height` - ваш зріст в метрах (дробове число)
- `is_student` - чи є ви студентом (True/False)

Виведіть кожну з цих змінних за допомогою функції `print()`.

In [3]:
# Створюємо Змінні
name = "Катерина"
age = 40
height = 1.73
is_student = True

In [4]:
# Використовуємо Змінні
print (f"мене звати {name}, мені{age} років, мій зріст {height} см, Я зараз {is_student} студент")

мене звати Катерина, мені40 років, мій зріст 1.73 см, Я зараз True студент


---

**2. Арифметичні операції**

Створіть дві змінні: `var1` зі значенням 15, `var2` зі значенням 4.

Обчисліть та виведіть (кожен пункт оцінюється в 0.5 бала):
- Суму
- Різницю
- Добуток
- Ділення
- Цілочисельне ділення
- Залишок від ділення
- Піднесення до степеня

In [5]:
#Операції з числами
a = 1000
b = 55

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b)

1055
945
55000
18.181818181818183
18
10
1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000


---

**3. Робота з рядками**

Створіть зміну `last_name`, яка містять ваше прізвище.

Виконайте (кожен пункт оцінюється в 0.5 бала):
- Об'єднайте значення змінних `name` та `last_name` через пробіл в один рядок і збережіть в нову змінну `full_name`
- Виведіть `full_name` великими літерами
- Виведіть `full_name` малими літерами
- Виведіть довжину `full_name`
- Виведіть фразу: "Мене звати [ім'я], мені [вік] років". Вік використайте зі змінної, створеної у вправі 1.

In [6]:
#Операції з рядками
name = "Катерина"
surname = "Лапа"
name, surname
("Катерина", "Лапа")
full_name = name + " | " + surname #об'єднання
full_name

'Катерина | Лапа'

In [12]:
print(full_name.upper()) # LAPA KATERYNA
print(full_name.lower()) # lapa kateryna
print (len(full_name)) # 16 - довжина рядка
print (f"Мене звати {name}, мені {age} років")

КАТЕРИНА | ЛАПА
катерина | лапа
15
Мене звати Катерина, мені 40 років